/* Example stylesheet */
@media screen and (prefers-color-scheme: light), screen and (prefers-color-scheme: no-preference) {
  /* Light theme */
  body{
    position: relative;
    color: white;
    text-shadow: black 0 1px;
    height: 100vh;
    background-color: #392a23;
    background-image: linear-gradient(
      45deg,
      rgba(255, 136, 0, 0.5) 10%,
      rgba(127, 30, 0, 0.7)
    );
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    overflow-y: hidden;
  }

  div.bridge:nth-child(even) {
    background:rgba(0,0,0,0.05);
    border-radius: 4px;
  }

  div.bridge:nth-child(odd) {
    background:rgba(255, 255, 255, 0.05);
    border-radius: 4px;
  }

  .colorPrimary {
    background:rgba(0,0,0,0.15) !important;
  }
}

span.MuiTab-wrapper {
  text-transform: none !important;
}

.white-full-width {
  width: 100%;
  color: white !important;
  text-transform: none !important;
}

.refreshIcon {
  margin-right: 10px;
}

.bridges {
  margin-top: 20px !important;
}

.bridge > * {
  align-self: baseline;
  width: 100%;
}

.bridge {
  padding-left: 10px;
}

@media screen and (prefers-color-scheme: dark) {
  /* Dark theme */
  body {
    position: relative;
    color: white;
    text-shadow: black 0 1px;
    height: 100vh;
    background-color: #392a23;
    background-image: linear-gradient(
      45deg,
      rgba(0, 60, 255, 0.5) 10%,
      rgba(19, 0, 127, 0.7)
    );
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    overflow-y: hidden;
  }

  div.bridge:nth-child(even) {
    background:rgba(0,0,0,0.05);
    border-radius: 4px;
  }

  div.bridge:nth-child(odd) {
    background:rgba(255, 255, 255, 0.05);
    border-radius: 4px;
  }

  .colorPrimary {
    background:rgba(0,0,0,0.15) !important;
  }
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
}
